<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No</th>
      <th>Nama Perusahaan</th>
      <th>Bidang Usaha</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>PT</td>
      <td>Teknik</td>
      <td>
        <a href="/calon-rekanan/view-user">Lihat</a>
      </td>
    </tr>
  </tbody>
</table>