<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No</th>
      <th>Jenis Izin</th>
      <th>No Surat</th>
      <th>Berlaku Sampai</th>
      <th>Instansi Pemberi</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>PT</td>
      <td>Teknik</td>
      <td>Seumur Hidup</td>
      <td>OSS</td>
    </tr>
  </tbody>
</table>