<table id="example3" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No</th>
      <th>Nama</th>
      <th>KTP</th>
      <th>Alamat</th>
      <th>Saham</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Dudu</td>
      <td>32420938430289</td>
      <td>Bandung</td>
      <td>60</td>
    </tr>
  </tbody>
</table>