<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No</th>
      <th>Nama Perusahaan</th>
      <th>Bidang Usaha</th>
      <th>Status</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    <% for(let i=0; i < statusRekanan.length; i++) { %>
      <tr>
        <td>
          <%= i + 1 %>
        </td>
        <td>
          Bidang Usaha
        </td>
        <td>
          Nama Perusahaan
        </td>
        <td>
          <%= statusRekanan[i].status %>
        </td>
        <td class="d-flex gap-5">
          <a class="btn btn-light mr-2" href="/rekanan/view-user/<%= statusRekanan[i].userId %>">Lihat</a>
        </td>
      </tr>
      <% } %>
  </tbody>
</table>